
$color-primario: red;
$color-secundario: #55ff88;
$fuente-textos: Arial, Helvetica, sans-serif;
$fuentes-titulos: Times, "Timen New Roman", serif;

$color1:blue;
$color2:green;
$color3:red;

$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #FFCDD2;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;